#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

@page {
  size: auto;
  margin: 5cm 0cm 0cm 0cm;
}

@media print {
  .no-print {
    display: none;
  }
}